*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li {
    float: left;
    padding: 0 1vw;
    list-style-type: none;
}


/* ------------------ Navigation bar ------------------- */

.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 1200px;

}

.nav .site-title{
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 750;
}

.nav .site-title a{
    color: black;
}

.nav .site-title a:hover{
    color: #24ab6b;
    transition: 0.2s;
}

.nav .logo{
    cursor: pointer;
    position: relative;
    margin-top: 1.1rem;
    display: none;
}

.nav .logo img{
    height: 5rem;
    width: 5rem;
}

.nav .nav-bar .nav-items{
    font-weight: 800;
    padding-top: 2.7rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.nav .nav-bar .nav-items a{
    color: black;
}

.nav .nav-bar .nav-items a:hover{
    color: grey;
}


/* --------x---------- Navigation bar -----------x-------- */

/*----------------- Drop down menu--------------------*/

.nav .nav-bar .nav-items ul ul li{
    float: none;
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    margin-top: 1.2rem;
    border-bottom: solid 1px rgba(53, 53, 53, 0.575);
    display:none;
}


.nav .nav-bar .nav-items ul li:hover > ul li{
    display: grid;
}


/*----------x------- Drop down menu--------------x------*/


/* -------------------- Toggle collapse ---------------- */

.nav .toggle-collapse{
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    cursor: pointer;

    padding: 2.5rem 0;

}

/* ---------x--------- Toggle collapse ---------x--------- */

/* ------------------ Heading ------------------ */

.heading{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;

}

.heading-left{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.heading-left h4{
    line-height: 2.5rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.heading .heading-left a{
    font-weight: 800;
    border-bottom: solid 1px;
    color: rgb(65, 65, 65);
}

.heading .heading-left a:hover{
    color: #24ab6b;
}

.heading-right{
    margin-top: 1.1rem;
}

.heading-right img{
    height: 15rem;
    width: 15rem;
}

/* -----------x---------- Heading ------------x---------- */

/* -------------- All blogs webpage layout -------------- */

.all-blogs{
    max-width: 800px;
    margin: 10rem auto;
}

.all-blogs .blog{
    padding: 0 1.5rem;
    margin-bottom: 5rem;
}

.all-blogs .blog article{
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.all-blogs .blog article p a{
    font-weight: 900;
    color: rgb(105, 105, 105);
}

.all-blogs .blog article p a:hover{
    color: black;
}

.all-blogs .blog h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.all-blogs .blog h3{
    margin-bottom: 1rem;
}

.all-blogs .blog h3 span{
    color:rgb(78, 78, 78);
}

.all-blogs .blog h3 a{
    color: rgb(105, 105, 105);
}

.all-blogs .blog h3 a:hover{
    color: black;
}


/* ----------x---- All blogs webpage layout --------x------ */

.recent-articles{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 1rem;
    
}

.recent-articles .top-3-articles{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

/*Articles page grid layout styling*/

.articles-page{
    width: 90%;
    max-width: 1240px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article-1{
    width: 23vw;
    height: 28vw;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.article-1 span{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(17, 77, 27);
    font-size: 90%;  
}

.article-1 h3{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(34, 43, 92);
}

.article-1 p{
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: 30px;
    word-wrap:break-word;
}

.article-1:hover{
    background-color: #ebebe885;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: relative;
    top: -1px;
    transition: 0.3s;
}

.thumb img{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.articles-page .category{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(17, 77, 27);
    font-size: 90%;
}

.articles-page .title{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(34, 43, 92);
}

.articles-page .desc{
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: 30px;
    color: rgb(99, 28, 75);
    word-wrap:break-word;
}

/****x*** Articles page grid layout styling ****x**/

/* -------------------Footer------------------- */

.footer{
    text-align: center;
    margin-top: 10rem;
    position: relative;
    bottom: 1rem;
}

.footer .copyright-policy{
    line-height: 2rem;
    margin-top: 1.2rem;
}

.footer .socials ul{
    position: relative;
}

.footer .socials a{
    color: black;
}

.footer .socials a:hover{
    color: grey;
}

/* ------------x-------Footer------------x------- */

/*----------- Media queries -----------*/

@media all and (max-width:850px){
    .nav{
        margin: 0 10%;
    }

    .nav .site-title{
        display: none;
    }
    .nav .nav-items{
        display: none;
    }

    .nav .toggle-collapse{
        display: initial;
    }
    
    .nav .logo{
        display: initial;
    }

    .heading-right{
        display: none;
    }
}


@media screen and (max-width:900px) {
    .articles-page{
        grid-template-columns: 1fr 1fr;
    }
}


/*-----x------ Media queries -------x----*/