html, body{
    margin: 0 7%;
    background-color: #ebebe8;
}

a{
    text-decoration: none;
    color: black;
}

li {
    float: left;
    padding: 1vw;
}

.nav .site-title{
    padding: 1vw;
}

.nav, .footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.footer{
    position:fixed;
    bottom: 0;
    padding: 0 10%;
}