*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li {
    float: left;
    padding: 0 1vw;
    list-style-type: none;
}

.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav .site-title{
    padding: 2rem 5rem;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.nav .nav-bar{
    padding-right: 5rem;
}

.nav .nav-bar .nav-items{
    font-weight: 800;
    padding-top: 2.6rem;
}

.nav .toggle-collapse{
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    cursor: pointer;
    display: flex;
    padding: 2.5rem 0;
}

.heading{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}

.heading-left{
    margin-top: 7.5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}


.heading-left h4{
    line-height: 1.7rem;
    max-width: 37rem;
    margin-left: auto;
    margin-right: auto;
}

.heading-right{
    margin-bottom: 3rem;
}


.recent-articles{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 1rem;
    
}

.recent-articles .top-3-articles{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

/*Articles page grid layout styling*/

.articles-page{
    width: 90%;
    max-width: 1240px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article-1{
    width: 23vw;
    height: 28vw;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.article-1 span{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(17, 77, 27);
    font-size: 90%;  
}

.article-1 h3{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(34, 43, 92);
}

.article-1 p{
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: 30px;
    word-wrap:break-word;
}

.article-1:hover{
    background-color: #ebebe885;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: relative;
    top: -1px;
    transition: 0.3s;
}

.thumb img{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.articles-page .category{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(17, 77, 27);
    font-size: 90%;
}

.articles-page .title{
    margin-top: 1rem;
    margin-left: 2%;
    color: rgb(34, 43, 92);
}

.articles-page .desc{
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: 30px;
    color: rgb(99, 28, 75);
    word-wrap:break-word;
}

/****x*** Articles page grid layout styling ****x**/

.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px;
    background-color: #ebebe8;
    bottom: 0;
    left: 0;
}

.footer .copyright-policy{
    padding: 1.7rem 3rem;
}

.footer .socials{
    padding: 0 3rem;
}


/*----------- Media queries -----------*/

@media all and (max-width:850px){
    .nav .nav-items{
        display: none;
    }

    .nav .toggle-collapse{
        display: initial;
    }



@media screen and (max-width:900px) {
    .articles-page{
        grid-template-columns: 1fr 1fr;
    }
}


/*-----x------ Media queries -------x----*/